header{
    /* height: 100px; */
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
.svg{
    height: 100px;
}

.header_nav_link{
    text-decoration: none;
    color: white;
    margin: 15px 15px 15px 15px;
}
.header_nav_link:hover{
    text-decoration: underline;
    color: blanchedalmond;
}
.nav_links{
    display: flex;
    margin: 15px 15px 15px 15px;
}
.active_link{
    text-decoration: underline;
    color: blanchedalmond;}